
.Rectangle-574 {
	width: 1440px;
	height: 249px;
	opacity: 0.79;
	/* background-color: #1e4393; */
	/* text-align: center; */
	/* align-items: center; */
	position: relative;
}
.Rectangle-574 .layer1 {
	width: 1440px;
	height: 249px;

	position: absolute;
	/* top: 0px;
	right: 0px; */
	z-index: 1;
}
.Rectangle-574 .layer2 {
	width: 1440px;
	height: 249px;

	/* background-color: rgb(21, 7, 143); */
	opacity: 50%;
	position: absolute;
	/* top: 0px;
	right: 0px; */
	z-index: 2;
}
.Rectangle-574 .hr2 {
	width: 50px;
	height: 5px;
	/* border-top: 1px solid #ffffff; */

	background-color: #ffffff;
}
.Rectangle-574 .layer3 {
	position: absolute;
	top: 67px;
	left: 690px;
	z-index: 3;
}
.Rectangle-574 .layer3-contact {
	/* display: flex;
	justify-content: space-between; */

	position: absolute;
	top: 21px;
	left: 140px;
	z-index: 3;
}
.Rectangle-574 .layer3-contact {
	width: 240px;
	height: 175px;
}
.Rectangle-574 .layer3-contact h1 {
	font-family: Heebo;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.78;
	letter-spacing: 1.91px;
	text-align: left;
	color: #ffffff;

	margin: 21px 0px 19px 0px;
}
.Rectangle-574 .layer3-contact button {
	width: 240px;
	height: 60px;
	border-radius: 10px;
	background-color: #ffffff;

	margin: 32px 0px 32px 0px;
}
.Rectangle-574 .layer3-address {
	width: 240px;
	height: 175px;
	/* background-color: khaki; */

	position: absolute;
	top: 21px;
	right: 247px;
	z-index: 3;
}
.Rectangle-574 .layer3-address h1 {
	font-family: Heebo;
	font-size: 36px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.78;
	letter-spacing: 1.91px;
	text-align: left;
	color: #ffffff;

	margin: 21px 0px 19px 0px;
}
.Rectangle-574 .layer3-address-detail  {
	margin: 11px 0px 19px 0px;
}
.Rectangle-574 .layer3-address h2 {
	font-family: Heebo;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.61;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}
.Rectangle-574 .layer4 {
	width: 350px;
	height: 53px;
	font-family: Heebo;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.78;
	letter-spacing: 1.91px;
	text-align: left;
	color: #ffffff;

	text-align: center;

	/* background-color: lightcoral; */

	position: absolute;
	top: 98px;
	left: 543px;
	z-index: 4;
}
