/* a {
	text-decoration: none;
} */
/* head */
.Rectangle-43 {
	width: 1440px;
	height: 811px;
	/* background-color: rgb(206, 115, 115); */
	/* text-align: center; */
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	background-image: url("assets_Home Page_2020-05-26/photo-of-person-holding-black-tablet-3740162@3x.png");
	background-color: #1e4393;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */

	position: relative;
}
/* anh nen cua head*/
.Rectangle-43 .layer1 {
	width: 1440px;
	height: 811px;

	filter: blur(8px) brightness(70%);
	/* -webkit-filter: blur(8px); */
	/* filter:brightness(50%); */

	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}
/* menu - con cua head*/
.Rectangle-7 {
	width: 1140px;
	height: 133px;

	border-radius: 5px;

	background-color: #ffffff;
	/* display: block; */
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	position: absolute;
	right: 150px;
	z-index: 4;
}
/* anh ben trong menu */
.picturemessage img {
	width: 129px;
	height: 113px;

	position: absolute;
	left: 30px;
	top: 10px;
}
.menu-above {
	width: 483px;
	height: 45px;

	/* background-color: lawngreen; */

	position: absolute;
	top: 15px;
	right: 15px;

	/* background-color: rgb(118, 177, 60)161, 53); */
}
/* nhom chua cac icon - con cua menu-above*/
.group-82 {
	width: 121px;
	height: 21px;

	/* display: flex; */

	position: absolute;
	right: 324px;
	top: 7px;
}
.group-82 img {
	opacity: 30%;
	width: 31.1px;
	height: 31.1px;
  
}
/* thanh search */
.Rectangle-567 {
	width: 309px;
	height: 45px;
	border-radius: 5px;

	/* background-color: #a7818198; test */
	/* background-color: #ffffff; */ /*ok*/

	position: absolute;
	right: 15px;
	top: 0px;
}
.Rectangle-567 img {
	width: 16px;
	height: 16px;
	/* background-color: #bcbccb; */
	background-color: #ffffff;

	position: absolute;
	left: 32px;
	top: 15px;
}
.Rectangle-567 input {
	height: 19px;
	border-color: transparent;

	/* background-color: lightgreen; */

	position: absolute;
	left: 58px;
	top: 14px;
}
.Path-48 {
	width: 158px;
	height: 68px;
	background-color: #1e4393;

	border-radius: 5px;
	box-shadow: 0 3px 0 0 #09235a;

	position: absolute;
	right: 15px;
	top: 78.5px;
	z-index: 3;
}
.Path-48 #img1 {
	width: 40.1px;
	height: 26.3px;
	object-fit: contain;

	position: absolute;
	left: 26px;
	top: 20px;
}
.Path-48 #img2 {
	width: 40px;
	height: 25px;
	object-fit: contain;

	position: absolute;
	right: 25px;
	top: 20px;
}
.Path-48 .button-down {
	background-color: transparent;
	border: transparent;

	font-size: 19px;
	color: #ffffff;

	position: absolute;
	right: 25px;
	top: 21px;
}
.Path-48 p {
	color: #ffffff;
	font-size: 13px;

	position: absolute;
	left: 74px;
	top: 23px;
}

/* menu duoi - con cua menu - con cua menu Rectangle-7 */
.menu-under {
	/* background-color: lightcoral; */
	border-radius: 5px;

	position: absolute;
	left: 424px;
	top: 86px;

	/* display: flex;
    justify-content: space-between;
    align-items: center; */
}
/* thanh nav */
.nav-links {
	list-style: none;

	font-size: 14px;
	font-family: Heebo-Regular;
}
.nav-links li {
	display: inline-block;
	padding: 0px 10px;
}
.nav-links li a {
	text-decoration: none;
	color: #000000;
	transition: all 0.4s ease 0s;
}
.nav-links li a:hover {
	color: #1e4393;
}
.nav-links li .button-down{
	background-color: transparent;
	border: transparent;

	transition: all 0.4s ease 0s;
}
.nav-links li .button-down:hover {
	color: #1e4393;

	background-color: transparent;
	border: transparent;
}
.title-menu {
	width: 1140px;
	height: 214px;

	/* background-color: rgb(34, 34, 30); */
	border-radius: 5px;

	position: absolute;
	right: 150px;
	top: 364px;
	z-index: 2;
}
.title-menu h1 {
	font-family: Heebo;
	font-size: 77px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.title-menu h2 {
	font-size: 44px;
	font-weight: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
